.container {
    width: 60vh;
    height: 60vh;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    font-size: 2.1rem;
    margin: 10px 0;
}

.description {
    margin: 5px 0;
    text-align: center;
    width: 70%;
    color: rgba(0, 0, 0, 0.6);
}

.grid-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
}

.roll-dice-btn {
    width: 150px;
    height: 50px;

    border: none;
    border-radius: 6px;

    font-size: 1.5rem;
    font-family: "Karla", sans-serif;

    background-color: #5035FF;
    color: white;

    cursor: pointer;
}

.roll-dice-btn:focus {
    border: none;
}

.roll-dice-btn:active {
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.5);
}

h3 {
    margin: 0 0 0 0;
}
